<h1 class="mb-1 restaurant-show-title">{{restaurant.name}}</h1>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">

      <form action="/restaurants/{{ restaurant._id }}/edit" method="post">
        
        <p class="mb-1">
          <label for="category" class="text-secondary">
            <i class="fas fa-utensils pr-2"></i>
            類別：
          </label>
          <input type="text" placeholder="類別" value="{{ restaurant.category }}" name="category" id="category">
        </p>

        <p class="mb-1">
          <label for="location" class="text-secondary">
            <i class="fas fa-map-marker-alt pr-2"></i>
            地址：
          </label>
          <input type="text" placeholder="地址" value="{{ restaurant.location }}" name="location" id="location" style="width: 350px">
        </p>

        <p class="mb-1">
          <label for="phone" class="text-secondary">
            <i class="fas fa-mobile-alt pr-2"></i>
            電話：
          </label>
          <input type="text" placeholder="電話" value="{{ restaurant.phone }}" name="phone" id="phone">
        </p>

        <p class="mb-1">
          <label for="description" class="text-secondary">
            <i class="fas fa-info-circle pr-1"></i>
            描述：
          </label>
        </p>
        
        <textarea placeholder="描述" name="description" id="description" rows="3" cols="75">{{ restaurant.description }}</textarea>

        <img class="rounded mx-auto d-block mb-4 w-100" src="{{restaurant.image}}" alt="{{ restaurant.name}}" style="max-width: 600px;">
        {{!-- <label for="image">新的餐廳圖片：</label>
        <input type="file" id="image" name="image"> --}}

        <div class="mb-5 mt-5 d-flex justify-content-between">
          <a href="/" class="btn btn-primary btn-sm">首頁</a>
          <button type="submit" class="btn btn-primary btn-sm btn-sm mr-2">儲存</button>
        </div>

      </form>
      
    </div>
  </div>
</div>